.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-left: -10px;
}

.item {
  margin-top: 10px;
  margin-left: 10px;
  flex-basis: calc((100% - 4 * 10px) / 4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid navy;
  border-radius: 5px;
  padding: 10px 15px;
}
